body {
    font-family: 'Rubik';
    font-size: 16px;
    height: 800px;
    width: 1440px;
    background-color: hsl(270, 20%, 96%);
    overflow-x: hidden;
}

.container {
    height: 800px;
    width: 1440px;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.purple-marker {
    background-image: linear-gradient(to top right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    height: 700px;
    width: 475px;
    border-radius: 0px 0px 400px 400px;
    position: absolute;
    left: -75px;
}

.grey-marker{
    background-image: linear-gradient(to top, hsl(290, 42.9%, 97.3%),rgb(226, 224, 228));
    height: 700px;
    width: 350px;
    border-radius: 250px 0px 0px 0px;
    position: absolute;
    right: -10px;
    top: 115px;
}

.smartphone {
    border: solid 10px white;
    border-radius: 35px;
    background-color: hsl(270, 20%, 96%);
    height: 490px;
    width: 230px;
    position: relative;
    top: 150px;
    left: 350px;
}

.frontal {
    height: 20px;
    width: 125px;
    border-radius: 30px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    bottom: 95px;
}

.arrow {
    color: white;
    font-size: 14px;
    position: relative;
    top: 35px;
    left: 20px;
}

.profile-pic {
    height: 25px;
    border: solid 2px white;
    border-radius: 20px;
    float: left;
    position: relative;
    left: 30px;
    bottom: 10px;
}

.name {
    color: white;
    font-size: 0.7rem;
    font-weight: 400;
    position: relative;
    left: 40px;
    bottom: 10px;

}

.status {
    color: hsl(206, 6%, 79%);
    font-size: 0.5rem;
    position: relative;
    left: 40px;
    bottom: 20px;
}

.dots {
    color:white;
    position: relative;
    left: 95px;
    top: 50px;
    transform: rotate(90deg);
}

.chatwindow {
    height: 66px;
    width: 230px;
    border-radius: 25px 25px 5px 5px;
    background-image: linear-gradient(to right, hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    position: relative;
    bottom: 24px;
}

.left-chat-first {
    background-color: hsl(272, 45.9%, 92.7%);
    height: 35px;
    width: 130px;
    margin-left: 10px;
    position: relative;
    bottom: 40px;
    border-radius: 10px 10px 10px 5px;
}

.left-chat-first p {
    font-size: 8px;
    margin-left: 10px;
    width: 100px;
    position: relative;
    top: 8px;
}

.left-chat-second {
    background-color: hsl(272, 45.9%, 92.7%);
    height: 35px;
    width: 130px;
    margin-left: 10px;
    position: relative;
    bottom: 40px;
    border-radius: 10px 10px 10px 5px;
}

.left-chat-second p {
    font-size: 8px;
    margin-left: 10px;
    width: 125px;
    position: relative;
    top: 8px;
}

.right-chat-first {
    background-color: white;
    height: 35px;
    width: 130px;
    margin-left: 90px;
    margin-top: 30px;
    position: relative;
    bottom: 40px;
    border-radius: 10px 10px 5px 10px;
}

.right-chat-first p {
    font-size: 8px;
    margin-left: 10px;
    width: 110px;
    position: relative;
    top: 8px;
}

.right-chat-second {
    background-color: white;
    height: 23px;
    width: 80px;
    margin-left: 140px;
    position: relative;
    bottom: 40px;
    border-radius: 10px 10px 5px 10px;
}

.right-chat-second p {
    font-size: 8px;
    margin-left: 10px;
    width: 110px;
    position: relative;
    top: 7px;
}

.left-chat-third {
    background-color: hsl(272, 45.9%, 92.7%);
    height: 45px;
    width: 130px;
    margin-left: 10px;
    position: relative;
    bottom: 40px;
    border-radius: 10px 10px 10px 5px;
}

.left-chat-third p {
    font-size: 8px;
    margin-left: 10px;
    width: 110px;
    position: relative;
    top: 8px;
}

.chat-msg-left {
    font-size: 10px;
    font-weight: 400;
    color: hsl(276, 55%, 52%);
}

.chat-msg-right {
    font-size: 10px;
    font-weight: 400;
    color: hsl(271, 15%, 43%);
}

.dog-pics {
    margin-left: 75px;
    position: relative;
    bottom: 20px;
}

.dog-pics img {
    height: 40px;
    border-radius: 10px;
    margin-left: 5px;
}

.msg-area {
    background-color: white;
    height: 35px;
    width: 200px;
    border-radius: 25px;
    margin-left: 15px;
    position: relative;
    bottom: 35px;
}

.type-msg {
    color: hsl(206, 6%, 79%);
    font-size: 10px;
    font-weight: 400;
    position: relative;
    left: 25px;
    top: 10px;
}

.send-button {
    height: 25px;
    width: 25px;
    background-color: hsl(271, 36%, 24%);
    border-radius: 25px;
    position: relative;
    left: 170px;
    bottom: 23px;
}

.send-arrow {
    color: white;
    font-weight: 700;
    position: relative;
    left: 9px;
    top: 3px;
}
.first-desc, .second-desc {
    color: white;
    text-align: left;
    font-size: 7px;
    position: relative;
    bottom: 9.5px;
    left: 30px;
}

.first-price, .second-price {
    color: white;
    text-align: right;
    font-weight: 700;
    font-size: 12px;
    position: relative;
    bottom: 32.5px;
    right: 25px;
}

.first-option, .second-option {
    height: 32px;
    width: 160px;
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    bottom: 40px;
    border-radius: 12px 12px 12px 5px;
}

.mark {
    width: 10px;
    height: 10px;
    border: solid 2px hsl(289, 100%, 72%);
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: 10px;
}

.introduction {
    width: 400px;
    position: relative;
    bottom: 200px;
    left: 750px;
}

.description {
    font-size: 15px;
    color: hsl(270, 7%, 64%);
    width: 425px;
    line-height: 25px;
}

.intro {
    font-size: 40px;
    font-weight: 500;
    color: hsl(271, 36.1%, 23.9%);
}

.attribution {
    text-align: center;
    position: relative;
    top: 25px;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 400px){

    body {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        height: 936px;
        width: 375px;
        overflow-x: hidden;
    }

    .container {
        height: 936px;
        width: 375px;
        background-color:  hsl(270, 20%, 96%);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow-x: hidden;
    }

    .smartphone {
        position: relative;
        top: 100px;
        left: 60px;
    }

    .purple-marker {
        background-image: linear-gradient(to top right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
        height: 500px;
        width: 265px;
        border-radius: 0px 0px 400px 0px;
    }

    .grey-marker{
        background-image: linear-gradient(to top, hsl(290, 42.9%, 97.3%),rgb(226, 224, 228));
        height: 300px;
        width: 215px;
        border-radius: 250px 0px 0px 0px;
        margin-top: 350px;
    }

    .introduction {
        left: 35px;
        top: 100px;
    }

    .description {
        width: 350px;
        text-align: center;
        position: relative;
        right: 25px;
    }

    .attribution {
        text-align: center;
        position: relative;
        top: 150px;
    }

    
}

